<div class = "d-flex flex-md-row flex-column-reverse justify-content-center m-11">
    <div class = "p-3  border border-dark" style="background: #FFFF">
            <h4 class = "pb-12"><b>Lorem ipsum dolor sit amet</b></h4>
            <p class = "text_first"> Lorem ipsum dolor sit amet, consectetur 
              adipiscing elit, sed do eiusmod tempor incididunt ut 
              labore et dolore magna aliqua. Ut enim ad minim 
              veniam, quis nostrud exercitation ullamco laboris nisi 
              ut aliquip ex t. </p>
            <ul class = "pt-2">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
            </ul>  
          </div>
        <div class = "border border-dark m-3 col-sm-auto px-4" style="background: #FFFF">
              <div class = "my-4" align = center>
                <img src="./images/My_image.png" alt = "Photo" width="132" height="132"  class ="rounded-circle border border-2 border-dark" >
              </div>
              <div class = "image_links_name2">
                <h4 align = center> <b>Alexander Ugarov</b></h4>
                <p class = "fs-5 my-12" align = center>
                  Backend developer
                </p>
              </div>
              <div class = "image_links_name3" align = center >
                <a class = "image_links_name3_a" href ="#">
                  <a href = "https://github.com/G00syara" class = "fs-2" style="color: black"> <i class='bx bxl-github'></i></a>
                  <a href = "https://t.me/Goosyara_0"class = "fs-2" style="color: black"> <i class='bx bxl-telegram'></i></a>
                  <a href = "https://vk.com/prekrasniy__mir" class = "fs-2" style="color: black"> <i class='bx bxl-vk'></i></a>
              </div>
        </div>
    </div>
